 @use "../reusable" as *;
 
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size:$s_spacing;
    font-weight:400;
    line-height:1.5;
    color:#000000;
    text-align:left;
    background-color:#f5f5f5;
}

.hide{
    display: none;
}

.show{
    display: initial;
}

.flex{
    display: flex;
}

.overlay{
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;

    z-index: 2;
}

.stop_scroll{
    overflow-y: hidden;
    width: 100%;
}

.selected {
    color: $button_color;
}
