<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Budget Tracker</title>

        <!-- SIMPLE BAR SCROLL LIBRARY -->
        <link rel="stylesheet" href="https://unpkg.com/simplebar@5.3.4/dist/simplebar.min.css">
        <script src="https://unpkg.com/simplebar@5.3.4/dist/simplebar.min.js"></script>
        <!--  -->

        


        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <link rel="stylesheet" href="./styles/styles.css">

    </head>

    <body>

        <div class="success_message hide" id="success_message">
            <p>Transaction has been added!</p>
        </div>


        <div class="add_transactions_popup overlay hide">
            <div class="popup_container">

                <div class="top">
                    <h2>Add Transaction</h2>
    
                    <button >X</button>
                </div>

                 <form id="add_transaction_form">
                     
                    <div class="add_filter">
                         <label for="start_date_filter">Date:</label>
                         <input name="date" type="date" id="start_date_filter">   
                     </div>

                     <div class="add_filter">
                         <label for="description">Description:</label>
                         <input name="details" type="text" id="description">   
                     </div>

                     <div class="add_filter">
                         <label for="amount">Amount:</label>
                         <input name="amount" type="number" id="amount">   
                     </div>

                    <div class="add_filter">
                        <label for="select_category">Category:</label>
                        <select name="category" id="select_category">
                            <option value="">All</option>
                        </select>
                    </div>


                    
                    <button type="submit" id="add_transaction_btn">Add</button>
                    
                    
                </form>
                <p class="error_text" id="error_text_transactions"></p>
            </div>
        </div>

         <div class="categories_popup overlay hide">
            <div class="popup_container">
                 <div class="top">
                    <h2>Categories</h2>
    
                    <button >X</button>
                </div>

                <form>
                    <div class="add_filter">
                        <label for="details">Name</label>
                        <input name="details" type="text" id="details">   
                    </div> 

                    <div class="add_filter">
                        <label for="select_type">type:</label>
                        <select name="select_type" id="select_type">
                            <option value="">All</option>
                            <option value="income">Income</option>
                            <option value="expense">Expense</option>
                            <option value="investment">Investment</option>
                        </select>
                    </div>

                    <button>add category</button>
                    <p class="error_text" id="error_text_category"></p>
                </form>

                <div class="categories_list_container" >
                    <div class="categories_info">
                        <span>name</span>
                        <span>type</span>
                    </div>
    
                    <ul id="categories_list" >
            
                    </ul>
                </div>
            </div>
        </div>


        <header>

            <nav class="container">

                <ul class="nav_ul">
                    <li class="nav_link"><a href="/">Home</a></li>
                    <li class="nav_link"><a href="/addT">Add Transactions</a></li>
                    <li class="nav_link"><a href="/reports">Reports</a></li>
                </ul>

            </nav>

        </header>

        <section>
            <div class="container">
    
                
                <h1>Budget Tracker - Transactions</h1>

                <div class="buttons">

                    <button>
                        add transaction
                    </button>
    
                    <button>
                        categories
                    </button>
                </div>
    
                <div class="filters">

                    <div class="filter_container">
                        <label for="type_filter">Type:</label>
                        <select class="form_control" id="type_filter">
                            <option value="">All</option>
                            <option value="income">Income</option>
                            <option value="expense">Expense</option>
                            <option value="investment">Investment</option>
                        </select>
                    </div>

                    <div class="filter_container">
                        <label for="category_filter">Category:</label>
                        <select class="form_control" id="category_filter">
                            <option value="">All</option>
                        </select>
                    </div>

                    <div class="filter_container">
                        <label for="start_date_filter">Date Range:</label>
                        <div class="input_group">
                            <input type="date" class="form_control" id="start_date_filter">
                            
                                <span class="input_group_text">to</span> 
                            
                            <input type="date" class="form_control" id="end_date_filter">
                        </div>
                    </div>

                </div>
    
                <div class="transactions">
                    <div class="transaction_info">
                        <span>Date</span>
                        <span>Description</span>
                        <span>Category</span>
                        <span>Amount</span>
                    </div>
    
                    <ul class="transactions_container">
                       
                    </ul>
                </div>

                <div class="pagination_container" id="pagination_container">
                    <button id="left"> < </button>
                    <ul class="pagination" id="pagination">
    
                    </ul>
                    <button id="right"> > </button>
                </div>
    
              
                 
    
            </div>
        </section>
    </body>
     <script src="script.js"></script>
</html>


<!-- <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody id="transaction_table_body">
                        <tr th:each="transaction : ${transactions}">
                            <td th:text="${transaction.date}"></td>
                            <td th:text="${transaction.details}"></td>
                            <td th:text="${transaction.category.description}"></td>
                            <td th:text="${transaction.amount}"></td>
                        </tr>

                        </tbody>
                    </table> -->

<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Budget Tracker</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">

    <script src="script.js"></script>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 

    <link rel="stylesheet" href="./styles/styles.css">

</head>

<body>


<nav class="navbar navbar-default">

    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand">Budget Tracker</a>
        </div>
        <ul class="nav-ul">
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="/addT">Add Transactions</a></li>
            <li class="nav-link"><a href="/reports">Reports</a></li>
        </ul>

    </div>

</nav>


<div class="container">

    <h1>Budget Tracker - Transactions</h1>

    <div class="row">
        <div class="col-sm-4">
            <label>Type:</label>
            <select class="form-control" id="type_filter">
                <option value="">All</option>
                <option value="income">Income</option>
                <option value="expense">Expense</option>
            </select>
        </div>
        <div class="col-sm-4">
            <label>Category:</label>
            <select class="form-control" id="category_filter">
                <option value="">All</option>
                <option data-th-each="category : ${categories}" data-th-text="${category.description}"></option>

            </select>
        </div>
        <div class="col-sm-4">
            <label>Date Range:</label>
            <div class="input-group">
                <input type="date" class="form-control" id="start_date_filter">
                <div class="input-group-prepend">
                    <span class="input-group-text">to</span>
                </div>
                <input type="date" class="form-control" id="end_date_filter">
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody id="transaction_table_body">
                <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.date}"></td>
                    <td th:text="${transaction.details}"></td>
                    <td th:text="${transaction.category.description}"></td>
                    <td th:text="${transaction.amount}"></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12">
            <a class="btn btn-primary" href="/addT">Add Transaction</a>
        </div>
    </div>

</div>

<section>
    <p class="ceva">ASDBASDB</p>
    <div></div>
</section>
</body>
</html> -->
