$border_color: #dddcdc;
$input_border_radius: 3px;

@mixin button($color, $text_color){
    color: $text_color;
    border: none;
    border-radius: $input_border_radius;
    background: $color;
    margin-top: 1rem;
    padding: 0.75rem 0.5rem;
}

@mixin input_style {
    width: 100%;
    padding: 0.5rem;
    border-radius: $input_border_radius;
    border:  1px solid $border_color;
}

@mixin container_stock_styles {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
}