@use "./reusable" as *;

@use "./components/default_styles";

@use "./components/header";


.add_transactions_popup, .categories_popup{
    
    .popup_container{
        @include position_overlay_element_center;

        h2{
            font-size: 1.5rem;
            color: rgb(70, 146, 238);;
            margin-bottom: $s_spacing;
            text-transform: capitalize
        }


        // this part is for the add transaction
        form{

            
            select, input {
                @include input_style;
            }

            button{
                @include button($button_color, $white, $button_padding);
                padding: $xs_spacing $s_spacing;
                
            }
        }



        // this part is for categories list

        .categories_list_container{
            margin-top: $s_spacing;
            border:  1px solid $border_color;

            span{
                @include table_span;
            }

            .categories_info{
                display: flex;
                font-weight: 800;
                text-transform: capitalize;
            }

            

            ul{
                // overflow-y: scroll;
                max-height: 200px;

                li{
                    display: flex;
                    
                    span{
                        border-top: 1px solid $border_color;

                        text-transform: capitalize;
                    }

                    &:nth-of-type(odd){
                        background-color: #e9e9e9;
                        
                    }
                }
            }
        }
    }
}



.container{
    @include container_stock_styles;
  

    // Title

    h1 {
        text-align: center;
        padding: 0.75rem 0;
        background-color: #edbf6b;
        color: $white;
        margin-bottom: 2rem;
        font-size: initial;
    }


    // Filter inputs

    .filters {
        display: flex;
        flex-direction:column ;
        gap: 0.3rem;

        .filter_container{
            width: 100%;

            select{
              @include input_style;
            }
        }

        .input_group {
            display: flex;
            border:  1px solid $border_color;
            border-radius: $input_border_radius;

            input{
                @include input_style;
                border: none;
            }

            .input_group_text{
                display: flex;
                align-items: center;
                padding: 0 0.75rem;
                background-color: rgb(228, 224, 224);
               
            }
        }
    }


    // Transactions

    .transactions{
        margin-top: $s_spacing;
        border:  1px solid $border_color;

          span{
               @include table_span;
            }

        .transaction_info{
            display: flex;
            font-weight: 800;
        }

        .transactions_container{
            li{
                display: flex;

                span{
                    border-top: 1px solid $border_color;

                         &:last-of-type{
                            text-align: end;
                        
                        }

                }

                 &:nth-of-type(odd){
                    background-color: #e9e9e9;
                }
            }
        }
    }

    .buttons{
        display: flex;
        justify-content: space-between;
        margin-bottom: $s_spacing;

        button{
            @include button($button_color, $white, $button_padding);
        }
    }


    .pagination_container{

        display: flex;
        align-items: center;
        justify-content: center;


        button, li {
            @include button($button_color, $white, 0.25rem 0.5rem );
        }

        li{
            @include button(#81b8fb, $white, 0.25rem 0.5rem );

            //#81b8fb
        }

        .pagination{
            display: flex;
            list-style: none;
            gap: $xs_spacing;
            padding: $s_spacing;
        }

        .current_page{
            background-color: $button_color
        }
    }
   

}


@media screen and (min-width: 575px) {

    // The font size makes everything appear bigger
    *{
        font-size: 16px;    
    }

   .container{

       h1 {
        font-size: 1.5rem;
        }

        .filters{
            flex-direction: row;
            gap: $xs_spacing;
          
            .filter_container{

                // This min width goes hand in hand with the last of type selector
                select{
                    min-width: 120px;
                }

                // styling for the Date Range container

                &:last-of-type{
                    width: 40%;  
                }

            }

        }
   }
}

@media screen and (min-width: 900px) {

    body{
        .add_transactions_popup, .categories_popup{
            
            .popup_container{
                max-width: 1100px;
                width: 80%;

                h2{
                    font-size: 2rem;
                    width: 100%;
                    text-align: center;
                    
                }
                
                form{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    gap: $s_spacing;
                     
                     select {
                     min-width: 130px;
                    }

                    .add_filter{
                        align-self: flex-end;
                    }

                    button{
                        padding: $xs_spacing 1.5rem;
                        margin: 0;
                        align-self: flex-end;
                    }

                }
            }
        }

        // style for categories container
        .categories_popup{
            .popup_container{
                max-width: 700px;
            }
        }
    }


    .container{
        .filters{
            gap: $s_spacing;
        }
    }
}